.clock {
  .clockCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    .hourHand {
      width: 6px;
      height: 40%;
      background: black;
      position: absolute;
      left: 50%;
      top: 10%;
      transform: translateX(-50%);
      transform-origin: 50% 100%;
    }
    .minuteHand {
      width: 3px;
      height: 50%;
      background: gray;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: 50% 100%;
    }
    .secondHand {
      width: 1px;
      height: 50%;
      background: red;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: 50% 100%;
    }
  }
}
